.page-cover {
    padding-bottom: 110px;
    height: 82%;

    @media (max-width: 576px) { padding-bottom: 100px; }

    h1 {
        @media (max-width: 991px) {
            br { display: none; }
        }
        a {
            color: #7a7a7a;
            &:hover { color: $primary; }
        }
    }

    /*@media (max-width: 767px) { padding-bottom: 70px; }
    @media (max-width: 576px) { padding-bottom: 0px; }*/

    .go-down {
        img {
            width: 18px;
            height: auto;
            @include transform(rotate(-90deg));
        }
    }

    &.tags-cover {
        height: 60%;
        padding-bottom: 100px;

        @media (max-width: 767px) { padding-bottom: 70px; }
        @media (max-width: 576px) { padding-bottom: 20px; }
    }

    &.proj-cover { height: 50%; }

    &.home-cover {
        height: 100%;
        padding-bottom: 30px;

        .cover-container {
            margin-bottom: 150px;

            @media (max-width: 767px) { margin-bottom: 70px; }
        }

        .go-down img {
            @include transform(translateX(-13px) rotate(-90deg));
        }
    }

    &.archive-cover {
        padding-bottom: 0;

        .tags-container {
            height: 110px;

            @media (max-width: 576px) { height: 100px; }
        }
    }
}