footer {
    background-color: #fff;

    .footer-container {
        min-height: 450px;
        border-top: 1px solid $primary;
        margin-top: 100px;
        padding-top: 50px;

        .flex-fill { margin-bottom: 50px; }

        @media (min-width: 768px) and (max-width: 991px) { min-height: 300px; }

        @media (max-width: 767px) { margin-top: 100px; }
    }

    .column-footer {
        height: 100%;
        img {
            width: 15px;
            vertical-align: top;
        }
    }

    .menu-footer {
        margin: 0;
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0px;
    }

    .go-top {
        img {
            width: 18px;
            height: auto;
            @include transform(rotate(90deg));
        }
    }
}