.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.navbar {
    padding: 0;
    padding-top: 25px;

    .nav-item {
        &:not(:last-child) { margin-right: 50px; }
    }

    .site-logo{ z-index: 999; }

    .navbar-toggler {
        color: $primary;
        border: none;
        width: 25px;
        height: 22px;
        padding: 0;
        position: relative;
        cursor: pointer;
        z-index: 999;
        span{
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: $primary;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            cursor: pointer;
            @include transform(rotate(0deg));
            @include transform-origin(left center);
            @include transition(all .7s cubic-bezier(.165,.84,.44,1));
            &:nth-child(1){ top: 0px; }
            &:nth-child(2){ top: 8px; }
            &:nth-child(3){ top: 16px; }
        }
        &[aria-expanded="true"] span{
            left: 0;
            &:nth-child(1){
                @include transform(rotate(45deg));
                top: 0px;
                background: $primary;
            }
            &:nth-child(2){
                width: 0%;
                opacity: 0;
                background: $primary;
            }
            &:nth-child(3){
                @include transform(rotate(-45deg));
                top: 18px;
                background: $primary;
            }
        }
    }

    .collapse { display: flex; }

    @media (max-width: 767px) {
        .navbar-nav {
            position: fixed;
            top: -50%;
            left: 0;
            right: 0;
            height: 0;
            opacity: 0;
            z-index: 99;
            padding: 0 15px;
            background-color: #fff;
            @include transition(all 1s cubic-bezier(.165,.84,.44,1), height 1s cubic-bezier(.165,.84,.44,1));
            li{
                margin: 0;
                opacity: 0;
                @include transition(opacity .3s ease-out);
                &:first-child { margin-top: auto; }
                &:last-child{ margin-bottom: auto; }
                a{ font-size: 25px; }
            }
        }

        @at-root body.menu-open {
            overflow: hidden;

            .navbar-nav{
                opacity: 1;
                height: 100%;
                top: 0;
                li {
                    opacity: 1;
                    @include transition(all 2s ease-in-out);
                }
            }

            .navbar-toggler span{
                left: 0;
                &:nth-child(1){
                    @include transform(rotate(45deg));
                    top: 0px;
                    background: $primary;
                }
                &:nth-child(2){
                    width: 0%;
                    opacity: 0;
                    background: $primary;
                }
                &:nth-child(3){
                    @include transform(rotate(-45deg));
                    top: 18px;
                    background: $primary;
                }
            }
        }
    }
}