*:focus { outline: none !important; }

* { text-decoration: none !important; }

body, html { height: 100%; }

body {
    background-color: #fff;
    font-size: 15px;
}

.main-content { height: 100%; }

.show {
    opacity: 1;
    @include transition(opacity .7s cubic-bezier(.165,.84,.44,1));
}

.hide {
    opacity: 0;
    @include transition(opacity .7s cubic-bezier(.165,.84,.44,1));
}

img.heart {
    width: 15px;
    vertical-align: top;
}