// Transition
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

// Transform
@mixin transform($transform...) {
    -moz-transform:    $transform;
    -o-transform:      $transform;
    -webkit-transform: $transform;
    transform:         $transform;
}
@mixin transform-origin($origin...) {
    -moz-transform-origin:    $origin;
    -o-transform-origin:      $origin;
    -webkit-transform-origin: $origin;
    transform-origin:         $origin;
}

// Box shadow
@mixin box-shadow($box-shadow...){
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow:    $box-shadow;
    box-shadow:         $box-shadow;
}

// Filter
@mixin filter($filter){
    -webkit-filter: $filter;
    filter:         $filter;
}

// Animation
@mixin animation($animation...){
    animation:          $animation;
    -webkit-animation:  $animation;
    -moz-animation:     $animation;
    -o-animation:       $animation;
}

// Text and background colors
$colors:(
    primary:   $primary,
    secondary: $secondary,
    tertiary:  $tertiary
);
//Loop over list of colors
//@each ( $textColor : $color )
@each $textColor, $color in $colors{ .#{$textColor}-text{ color: $color; } }//Text colors
@each $bgColor, $color in $colors{ .bg-#{$bgColor}{ background-color: $color; } }//Background colors

// Spacing
$directions:(
    xy: '',//Margin top, right, bottom and left: 'mxy-'
    t: top,
    b: bottom,
    r: right,
    l: left
);
$sizes:( 0, 10, 20, 30, 50, 70, 100, 130, auto );
@each $dir, $direction in $directions{
    @each $size in $sizes{
        @each $bp, $breakpoint in $grid-breakpoints{
            @if $breakpoint > 0{
                @media (min-width: $breakpoint){
                    .m#{$dir}-#{$bp}-#{$size}{
                        @if $dir == xy{ margin: #{$size}px; }
                        @else if $size == auto{ margin-#{$direction}: auto; }
                        @else{ margin-#{$direction}: #{$size}px !important; }
                    }
                    .p#{$dir}-#{$bp}-#{$size}{
                        @if $dir == xy{ padding: #{$size}px; }
                        @else if $size == auto{ padding-#{$direction}: auto; }
                        @else{ padding-#{$direction}: #{$size}px !important; }
                    }
                }
            }
            @else{
                .m#{$dir}-#{$size}{
                    @if $dir == xy{ margin: #{$size}px; }
                    @else if $size == auto{ margin-#{$direction}: auto; }
                    @else{ margin-#{$direction}: #{$size}px; }
                }
                .p#{$dir}-#{$size}{
                    @if $dir == xy{ padding: #{$size}px; }
                    @else if $size == auto{ padding-#{$direction}: auto; }
                    @else{ padding-#{$direction}: #{$size}px; }
                }
            }
        }
    }
}

// Font sizes
$fsizes:( 15, 30, 50, 70 );
@each $size in $fsizes{
    .fs-#{$size}{ font-size: #{$size}px; }
    @media screen and (max-width: 767px){
        @if $size == 30{
            .fs-#{$size}{ font-size: #{$size - 12}px; }
        }
        @else if $size == 50 or $size == 70 {
            .fs-#{$size}{ font-size: #{$size / 2}px; }
        }
    }
}

$fweights:(
    bold:   $bold,
    normal: $normal
);
@each $fontWeight, $weight in $fweights{
    .#{$fontWeight}-font { font-weight: #{$weight}; }
}