@font-face {
    font-family: 'Gordita';
    src: url('./../fonts/gordita.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Gordita';
    src: url('./../fonts/gordita-bold.otf');
    font-weight: 700;
}

body {
    font-family: 'Gordita';
    letter-spacing: .7px;
    color: $primary;
}

.uppercase { text-transform: uppercase; }

a {
    width: fit-content;
    img {
        @include transition(transform .7s cubic-bezier(.165,.84,.44,1));
        max-width: 20px;
        margin-left: 10px;
        max-width: 18px !important;
    }
    &:hover {
        color: $secondary;
        img { @include transform(translateX(10px)); }
    }

    &.reverse {
        img {
            margin-left: 0;
            margin-right: 10px;
        }

        &:hover img { @include transform(translateX(-10px)); }
    }
}