// Utilities
@import 'node_modules/aos/src/sass/aos.scss';
@import './utilities/bootstrap';
@import './utilities/variables';
@import './utilities/mixins';
@import './utilities/general';
@import './utilities/text';

// Components
@import './components/images';
@import './components/menu';
@import './components/cover';
@import './components/banner';
@import './components/footer';

// Home
.proj-container {
    min-height: 500px;

    .proj-img { @include transition(transform .7s cubic-bezier(.165,.84,.44,1)); }

    .proj-holder{
        overflow: hidden;
        position: relative;
        cursor: pointer;
    }

    .placeholder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .proj-link {
        i { @include transition(all .7s cubic-bezier(.165,.84,.44,1)); }
        &:hover i { margin-left: 15px; }
    }

    @media (min-width: 992px) {
        .proj-col,
        .proj-info { height: 100%; }

        &:hover {
            .proj-img { @include transform(scale(1.03)); }
        }
    }

    @media (max-width: 991px) {
        min-height: unset;
        .proj-col--img { height: 300px; }
    }
}

// About
.about-page {
    .section-banner { margin-bottom: 130px; }
}

// Work
.work-tags {
    a:not(:last-child){ margin-right: 5px; }
}

.work-col {
    height: 100%;

    .work-body {
        cursor: pointer;
        margin-bottom: 35px;
    }

    .work-cover {
        width: 100%;
        height: 370px;
        position: relative;
        overflow: hidden;
        margin-bottom: 15px;
        .work-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include transition(all .7s cubic-bezier(.165,.84,.44,1));
        }
    }

    h1 { margin-bottom: 10px; }

    @media (min-width: 992px) {
        &:hover .work-img { @include transform(scale(1.03)); }
    }
}

// Single work
.post-tags { margin-top: 35px; }
.post-content {
    h1 { font-size: 50px !important; }
    h2 { font-size: 30px !important; }
    p {
        font-size: 15px;
        margin-bottom: 20px;
    }
    img {
        /*display: flex;
        margin: 0 auto;*/
        width: 100%;
        height: auto;
    }

    h1, h2, p, a, ul, li, span {
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 768px) { max-width: 80%; }
        @media (min-width: 992px) { max-width: 70%; }
        @media (min-width: 1199px) { max-width: 50%; }
    }
}